<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        colors="true"
        bootstrap="vendor/cakephp/cakephp/tests/bootstrap.php">
    <testsuites>
        <testsuite name="cors middleware tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
